
*{
  padding: 0px;
  margin:opx;
}
ul{
  list-style: none;
}
ul li{
  font-family: 'segou UI',TAHOMA,Geneva,Verdana,sans-serif; /*tipo de letra*/
}
body{
  background: linear-gradient(80deg, #d48716, #235be4);
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 22px;
}
  div{
    color: #3f4144;
    height: 100%;
    padding: 20px 10px 20px 40px;
    margin: 1px solid #999999;
    background-color: #bdb9cd;
    border-radius: 15px;
    border: solid 2px #999999;
    border-radius: 15px 0px 15px 0px;
    box-shadow: 2px 2px 5px #C0C2C3:
  }
  ul li a{
    height: 60px; /*altura*/
    background-color: #333; /*color de fondo*/
    display: block;
    border-left: 10px solid rgb(24, 241, 54);
    border-right: 5px solid rgb(10, 103, 232);
    padding-left: 15px;
    text-decoration: none;
    color: #bfe1f1;

  }
  ul li a:hover{
    margin-left: 10px;
    color: #d6df30;
    background-color: #1b1b1b;
    box-shadow: 10px 10px 20px #000;/*soombra */
    transform: rotate(4deg);
    -moz-transform:rotate(4deg);/*movimiento de rotacion*/
    -webkit-transform:rotate(4deg);

  }
  td{
    vertical-align: top;
  }
